<!doctype html>
<html lang="en">{% block html %}
    <head>{% block head -%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="color-scheme" content="dark light">{# inform client color modes asap #}
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
        <link rel="icon" href="{{ url_for('.favicon') }}">
        <title>{{ config.WEBCAT_TITLE }}</title>
    {% endblock head %}</head>
    <body>
        <main>
            <h1>{{ config.WEBCAT_PAGE_TITLE }}</h1>
            <div>
                <p>{{ config.WEBCAT_PAGE_DESCRIPTION }}</p>
                <p>{{ file_content }}</p>
            </div>
            {%- if config.WEBCAT_SHOW_QUERIES -%}
            <div>
                <h1>Databases</h1>
                {% for query in config.WEBCAT_SHOW_QUERIES %}<p>
                    <a href="{{ query.id }}">{{ query.title }}</a>
                </p>{% endfor %}
            </div>
            {%- for database_result in database_results %}<div>
                {%- set result = database_result.result -%}
                <h1 id="{{ database_result.id }}">{{ database_result.title }}</h1>
                <table>
                    <thead>
                        <tr>{%- for key in result.fieldnames -%}
                            <th>{{ key }}</th>
                        {%- endfor %}</tr>
                    </thead>
                    <tbody>
                        {%- for row in result.rows %}<tr>
                            {% for value in row %}<td>{{ value }}</td>{% endfor %}
                        </tr>{%- endfor -%}
                    </tbody>
                </table>
            </div>{% endfor -%}
            {%- endif -%}
        </main>
    </body>
{% endblock html %}</html>
